<!DOCTYPE html>
<html>
    <head>
        <!-- status bar on android -->
            <title>GeoVoices: Cherokee</title>
            <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
            <link rel="icon" href="https://cdn.glitch.global/82396493-cf04-4e83-9abb-cf8ed0317c6d/favicon.ico?v=1668702036428" sizes="any">

        <!--   seo functionality -->
            <meta name="description" content="A geolocated audio driving tour of indigenous homelands and oral tradition around Cherokee, North Carolina."/>
            <meta name="description" content="Listen to ancient stories and tales of tomorrow as you explore the Cherokee homeland. Tribal storytellers show you monsters and heros as you drive sixty miles through mountain roads, across swift rivers and small towns. Give yourself two hours or more. There is much to discover, whether you are a new visitor or lifelong member of the community. Our tour begins with a view of Kuwahi and Kituwah</a> from high in the Great Smoky Mountain National Park. a view of Kuwahi and Kituwah from high in the Great Smoky Mountain National Park.">
            <meta name=”robots” content="index, nofollow">

        <!--   pwa functionality -->
            <link   rel="manifest" href="./manifest.json">  
            <meta name="theme-color" content="#f60e0e"/>      
        <!--   ios support  -->
            <link rel="apple-touch-icon" href="https://cdn.glitch.com/eb91c95e-0ab7-4dca-bea8-9d13e48bdbde%2Ficon-192x192.png?v=1600674220629"/>
            <link rel="apple-touch-icon" href="https://cdn.glitch.com/eb91c95e-0ab7-4dca-bea8-9d13e48bdbde%2Ficon-256x256.png?v=1600674220690"/>
            <link rel="apple-touch-icon" href="https://cdn.glitch.com/eb91c95e-0ab7-4dca-bea8-9d13e48bdbde%2Ficon-384x384.png?v=1600674221470"/>
            <link rel="apple-touch-icon" href="https://cdn.glitch.com/eb91c95e-0ab7-4dca-bea8-9d13e48bdbde%2Ficon-512x512.png?v=1600674221265"/>   
        <!--   ios black translucent status bar -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <!--   status bar on android -->
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name=      "mobile-web-app-capable" content="yes" />
        <!--   status bar on android -->  
            <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
            <meta charset="UTF-8">
    
        <!--   map functionality -->
           <link    rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
           <script  src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
        <!--   app code           -->
            <link   rel="stylesheet" href="./geotour.css"/>
            <script type="module"     src="./geotour.js"></script>
    </head>


    <body>     <!-- stacked: latest layer is most visible -->

        <div   id="maplayer"></div>     <!-- fullscreen slippy map -->


      <!-- app content display  -->
      <div       id="content"        >
        <audio id=  "audioplayer"  class="contentlayer" autoplay></audio>  <!-- audio: no visual content-->
        <video id=  "videoplayer"  class="contentlayer" autoplay></video>  <!-- video: only experimental-->     
        <div   id=  "imagelayer"   class="contentlayer"         ></div>    <!-- illustrations, photos   -->
        <div   id=  "effectlayer"  class="contentlayer"         ></div>    <!-- fullscreen visual fx    -->
        <div   id=  "textlayer"    class="contentlayer"         ></div>    <!-- selfcontained HTML text -->
     </div>
      
        <div   id=  "captionlayer" class="contentlayer"         ></div>    <!-- ephemeral captions      -->

     <!-- dashboard elements  -->
        <div   id="progressbar"          hidden draggable="true"></div>    <!-- loadinng statuss      -->
        <div   id="nextpoint"            hidden draggable="true"></div>    <!-- miles to next pin     --> 
        <div   id="feedback"             hidden draggable="true"></div>    <!-- app review form       --> 
        <div   id="pause"                                       ></div>    <!-- freeze screen         --> 
        <div   id="menu"                                        ></div>    <!-- all player controls   -->  


   </body></html>