<!-- This is a static file served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving tour of the lands and legends of the Cherokee.. Two hours of travel through twelve thousand years of history, story and fable geolocated on a sixty mile route through the beautiful mountains and valleys of our homeland.">
    <title>Cherokee Legend GeoTour</title>
    <link id="favicon" rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>
    <script  type="module" src="/client.js" defer></script>
    <link rel="manifest" href="/manifest.json">  
</head>
<body>
  <header>
      <video  id="videoplayer" src="/assets/video.mp4"></video>
      <img    src="/assets/icon-256x256.png"> 
      <img    src="/assets/icon-256x256.png"> 
      <h1>Cherokee Legend<br/><small>GeoTour</small></h1>
  </header>   

  <main>
    <audio id="bell"      src="/assets/bell.ogg" autoplay="false"></audio>
    <audio id="bellflat"  src="/assets/bellflat.ogg"></audio>
    <audio id="audioplayer"  autoplay  ></audio>
    <audio id="music"     ></audio>
    <audio id="story"     ></audio>
    <audio id="narration" ></audio>

    <div     id="bigNumber">0000</div>

    <div     id="buttonbar">
        <button  id="btnPinDrop"    class="btn" >Drop Pin</button> 
        <button  id="btnMap"        class="btn" >Show Map</button>
        <button  id="btnDashboard"  class="btn" >Dash Board</button>
        <button  id="btnNoTalk"     class="btn" >Stop Talk</button>
        <button  id="btnGPS"        class="btn" >GPS Tweak</button>
        <button  id="btnPause"      class="btn" >Pause ||</button>
    </div>

    <form id="startrun">
      <input  id="runname"   name="name"   type="text" maxlength="100" placeholder="Scouting Qualla">
      <input  id="rundevice" name="device" type="text" maxlength="100" value="Samsung Note 4 / AT&T">
      <button id="runstart"  type="submit" >Run Start</button> 
      <button id="runresume">Resume</button>
    </form>
    
    <ul id="dashboard">
      <li id="status" class="col4"></li>    
      <li id="gps"><span class="lbl col">gps- fix</span><span class="fix col">000</span><span class="lbl col">age:</span><span class="age col">RESERVED</span></li>      
      <li id="fix"><span class="lbl col">accuracy</span><span class="acc col">000</span><span class="lbl col">age:</span><span class="age col">000</span></li>      
      <li id="dbggps" class="put stat col4"> - - - - - - - - - - - - - - - - </li>    
      <li id="put"><span class="lbl col">upload</span><span class="fix col">000</span><span class="online col2">¿online?</span></li>      
      <li id="buf"><span class="lbl col">buffered:</span><span class="len col">000</span><span class="lbl col">age:</span><span class="age col">000</span></li>      
      <li id="xhr"><span class="lbl col">  tries:</span><span class="try col">000</span><span class="lbl col">puts:</span><span class="put col">000</span></li>      
      <li id="dbgput" class="put stat col4"></li>    
      <li class="spacer col4"></li>      
      <li id="inf"><span class="session col2">session name</span><span class="device col2">device info</span> </li>      
      <li id="ids"><span class="lbl col">session</span><span class="session col"></span><span class="lbl col">fix</span><span class="count col"></span> </li>      
      <li id="clk"><span class="lbl col">timestamp</span><span class="data col3"></span> </li>      
      <li id="lat"><span class="lbl col">latitude </span><span class="data col3"></span> </li>      
      <li id="lon"><span class="lbl col">longitude</span><span class="data col3"></span> </li>      
      <li id="lbl"><span class="lbl col">   </span><span class="seconds col">seconds</span><span class="miles col">miles</span><span class="mph col">mph</span> </li>      
      <li id="now"><span class="lbl col">now</span><span class="seconds col"></span><span class="miles col"></span><span class="mph col"></span> </li>      
      <li id="all"><span class="lbl col">all</span><span class="seconds col"></span><span class="miles col"></span><span class="mph col"></span> </li>      
      <li id="npResult" class="put stat col4"></li>    
     </ul> 
    
    <div  id="pinpad" ></div>
    <div  id="mapid"  ></div>
    <div  id="dbdump" ></div>

    </main> 

<!--
  <form id="notepad">
    <label    for="npText">What is this pin?</label>
    <textarea  id="npText" name="note"  rows="8" cols="39"> </textarea>
    <label for="npWorth"> How noteworthy is this?</label>
    <input  id="npWorth" type="range" name="worth"  min="-1" max="1" value="0" step=".1">
    <label for="npTags" > Tags (comma separated):</label>
    <input  id="npTags"   type="text" name="tags" maxlength="100" placeholder="history, nature, traffic"/>
    <label for="npPhoto" class="sidle" >Photos</label>
    <input  id="npPhoto" class="sidle" type="checkbox" name="photo"/>      
    <label for="npAudio" class="sidle" >Audio</label>
    <input  id="npAudio" class="sidle" type="checkbox" name="audio"/>      
    <button type="submit" id="npSubmit">Save Note</button>
  </form>

    <form id="notepad">
    <input  id="id" type="hidden" name="id" value="0" >
    <input  id="id" type="hidden" name="id" value="0" >
    <input  id="npWorth" type="range" name="worth"  min="-1" max="1" value="0" step=".1">
    <input  id="npWorth" type="range" name="worth"  min="-1" max="1" value="0" step=".1">
    <label    for="npText">What is this pin?</label>
    <textarea  id="npText" name="note"  rows="8" cols="39"> </textarea>
    <label for="npWorth"> How noteworthy is this?</label>
    <input  id="npWorth" type="range" name="worth"  min="-1" max="1" value="0" step=".1">
    <label for="npTags" > Tags (comma separated):</label>
    <input  id="npTags"   type="text" name="tags" maxlength="100" placeholder="history, nature, traffic"/>
    <label or="npPhoto" class="sidle" >Photos</label>
    <input  id="npPhoto" class="sidle" type="checkbox" name="photo"/>      
    <label for="npAudio" class="sidle" >Audio</label>
    <input  id="npAudio" class="sidle" type="checkbox" name="audio"/>      
    <button type="submit" id="npSubmit">Save Note</button>
  </form>
-->      
      
      
  
 

    <footer>
      <small>Dov@<a href="http://gamesthatwork.com"><b>Games</b>That<b>Work</b>.com</a></small>
      <button  id="btnCache"      class="btn" >Cache</button>
    </footer>
  </body>
</html>
