<!-- This is a static file served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clean Out Existing Serviceworker and Cache for a Fresh Start">
    <title>GeoTour ServiceWorker Flush</title>
    <link id="favicon" rel="icon" href="/assets/favicon.ico" type="image/x-icon">
<style>
body {
  font-family: helvetica, arial, sans-serif;
  font-size:3vh;
  margin: 2em;
  background-color:#0c2a45;
  color: gold;
}
  ul {background-color:white; color: black;}
  div {border: thick solid gold;}
  footer { font-size: 4em; text-align: center; margin:auto;}
  
</style>  

  </head>

  
  
  <body>
    <header><h1>GEOTOUR FLUSH</h1></header>   

    <main>
      <div><ul id="console"  ></ul></div>

    </main> 

    <footer><div>Dov@<a href="http://gamesthatwork.com"><b>Games</b>That<b>Work</b>.com</a></div></footer> 
  
  
  <script>
    
    const log= t=> document.querySelector('#console' ).innerHTML+= `<li>${t}</li>`;
    
    log( "ServiceWorkerKiller: ");
   
    if (navigator.serviceWorker)
        console.log('This page is currently controlled by:', navigator.serviceWorker.controller);

    log( "Controller now: "+ navigator.serviceWorker.controller.scriptURL );

    navigator.serviceWorker.getRegistrations( {scope:'/'} )
      .then(  registrations=> {
//              log( `Found ${registrations.length}`  ); 
              console.log("regs:", registrations);
              return registrations;
              })
      .then(  registrations=> 
             Promise.all( registrations.map(  sw => 
                sw.unregister() 
                      .then(  ok   =>  log(` serviceworker unregister Success ${ok}` ) )                                            
//            registrations.forEach( (registration,i) => 
//                  registration.unregister()
//                    .then(  ok   =>  log(` sw${i} Unre3gister ${ok}    ` ) )
//                    .catch( error=>  log(` sw${i} Failure ${error} ` ) )
//                 )
           )))
      .then ( ()   => log( `All SWs Unregistered`) )
      .catch( error=> log( `Failed to find any SWs ${error}`) )
              
  
    </script>
  
  
  
  
  
  </body>
  
  
  
</html>
